@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat-Regular.woff) format(woff);
}
*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Montserrat, Verdana, Helvetica, sans-serif;
}

#main {
  position: relative;
  border-radius: 0px 0px 12px 12px;
  margin-bottom: 50px;
  background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}
@media (min-width: 768px) {
  #main {
    margin-bottom: 80px;
  }
}
#main::after {
  content: "";
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: calc(100% - 40px);
  height: 10px;
  background-color: #CACADB;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
}

#header-section {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
header {
  display: grid;
  grid-template-areas: "contacts contacts contacts" "logo . menu";
  grid-template-columns: auto 1fr auto;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  header {
    grid-template-areas: "contacts" "logo" "menu";
    grid-template-columns: unset;
  }
}
@media (min-width: 1024px) {
  header {
    grid-template-areas: "logo . contacts" "logo . menu";
    grid-template-columns: auto 1fr auto;
  }
}
header .contacts {
  grid-area: contacts;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(245, 245, 250, 0.2);
  padding: 10px 15px;
}
@media (min-width: 768px) {
  header .contacts {
    padding: 50px 60px 30px;
    background-color: transparent;
    justify-content: flex-start;
  }
}
@media (min-width: 1024px) {
  header .contacts {
    padding: 50px 60px 0;
  }
}
header .contacts .lang-container__btn {
  display: inline-flex;
  width: 33px;
  height: 25px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
}
header .contacts .lang-container__btn:hover, header .contacts .lang-container__btn:focus {
  cursor: pointer;
  background-color: #F0145A;
}
header .contacts .lang-container__btn_active {
  background-color: #F0145A;
  border-radius: 8px;
}
header .contacts .address {
  display: none;
}
@media (min-width: 768px) {
  header .contacts .address {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
  }
}
@media (min-width: 1024px) {
  header .contacts .address {
    color: #FFFFFF;
  }
}
header .contacts .phone {
  font-weight: 700;
  color: #FFFFFF;
}
header .contacts .social-icon {
  display: none;
}
@media (min-width: 768px) {
  header .contacts .social-icon {
    display: inline-block;
  }
}
header .logo-container {
  grid-area: logo;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  header .logo-container {
    padding-left: 60px;
    align-items: self-start;
  }
}
@media (min-width: 1024px) {
  header .logo-container {
    padding-top: 50px;
  }
}
header .logo-link {
  display: inline-block;
}
header .logo-link .logo {
  width: 69px;
  height: 57px;
}
@media (min-width: 768px) {
  header .logo-link .logo {
    width: 160px;
    height: 60px;
  }
}
header .menu {
  grid-area: menu;
  display: inline-flex;
  padding-right: 15px;
}
header .menu .menu__icon {
  display: inline-flex;
  align-self: center;
}
@media (min-width: 768px) {
  header .menu .menu__icon {
    display: none;
  }
}
header .menu .menu-items {
  display: none;
}
@media (min-width: 768px) {
  header .menu .menu-items {
    display: flex;
  }
}
@media (min-width: 1024px) {
  header .menu .menu-items {
    padding: 1px 0 0 100px;
    margin: 0;
  }
}

.menu-item {
  list-style-type: none;
  margin: 15px;
  font-weight: 700;
}
.menu-item a {
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}
.menu-item a:hover {
  color: #F0145A;
}
.menu-item a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #F0145A;
  position: absolute;
  bottom: -6px;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
  transform: scaleX(0);
}

.menu-item a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.burger-menu {
  position: absolute;
  right: 10px;
  font-size: 30px;
}
@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.burger {
  color: #FFFFFF;
}

.divider {
  display: none;
}
@media (min-width: 768px) {
  .divider {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #FFFFFF;
    margin: 0 6px;
  }
}

.services {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
@media (min-width: 768px) {
  .services {
    padding: 0 60px 0;
  }
}
@media (min-width: 1920px) {
  .services {
    padding-left: 160px;
  }
}

.cards__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 60px;
  padding-top: 30px;
  align-items: center;
}
@media (min-width: 768px) {
  .cards__block {
    flex-direction: row;
    padding-top: 60px;
    justify-content: center;
    align-items: unset;
  }
}

.link__block {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.link-and-text__block {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .link-and-text__block {
    padding-top: 60px;
  }
}

.link__title {
  color: #24A3FF;
}
.link__title a {
  color: #24A3FF;
}
.link__title a:hover {
  color: #F0145A;
  text-decoration: none;
}

.arrow {
  border: solid #24A3FF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.text__block {
  display: flex;
  font-weight: 700;
  font-size: 30px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
}
@media (min-width: 768px) {
  .text__block {
    font-size: 38px;
  }
}

.card__block {
  padding-top: 30px;
}
@media (min-width: 768px) {
  .card__block {
    flex: 30%;
  }
}
@media (min-width: 1024px) {
  .card__block {
    flex: 25%;
  }
}

.card__title {
  color: #24A3FF;
  font-size: 26px;
}
.card__title a {
  color: #24A3FF;
  text-decoration: none;
}
.card__title a:hover {
  color: #F0145A;
}

.card__description {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 26px;
}

.partners__block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  flex-direction: column;
  gap: 30px;
  overflow-x: hidden;
}
@media (min-width: 1920px) {
  .partners__block {
    padding-bottom: 60px;
  }
}

.partners__block--text {
  font-size: 14px;
  line-height: 17px;
  color: #323264;
  font-weight: 700;
  letter-spacing: 1px;
}

.partner__logo--block a {
  display: inherit;
}

.partners__logos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 1920px) {
  .partners__logos {
    margin: 0 100px;
  }
}

.partner__logo--block {
  display: flex;
  justify-content: center;
  background: #1C4280;
  width: 375px;
  height: 120px;
  text-align: center;
  flex: 1;
}
@media (min-width: 768px) {
  .partner__logo--block {
    flex: 200px;
  }
}
@media (min-width: 1024px) {
  .partner__logo--block {
    flex: 300px;
  }
}
@media (min-width: 1440px) {
  .partner__logo--block {
    flex: 380px;
  }
}
@media (min-width: 1920px) {
  .partner__logo--block {
    flex: 400px;
  }
}

.partner__logo--block:nth-child(2) {
  background: #143646;
}

.partner__logo--block:nth-child(3) {
  background: #F48B30;
}

.partner__logo--block:nth-child(4) {
  background: #9E4DC3;
}

.partner__logo--block:nth-child(5) {
  background: #FD9339;
}

.partner__logo--block:nth-child(6) {
  background: #E2E2E4;
}

.partner__logo--block:nth-child(7) {
  background: #C71C36;
  display: none;
}
@media (min-width: 768px) {
  .partner__logo--block:nth-child(7) {
    display: flex;
  }
}

.partner__logo--block:nth-child(8) {
  background: #DCF3F9;
  display: none;
}
@media (min-width: 768px) {
  .partner__logo--block:nth-child(8) {
    display: flex;
  }
}

.partner__logo--block:nth-child(9) {
  background: #EAEAEA;
  display: none;
}
@media (min-width: 768px) {
  .partner__logo--block:nth-child(9) {
    display: flex;
  }
}

.partner__logo--block:nth-child(10) {
  background: #282240;
  display: none;
}
@media (min-width: 768px) {
  .partner__logo--block:nth-child(10) {
    display: flex;
  }
}

.partner__logo--block:nth-child(11) {
  background: #1D4568;
  display: none;
}
@media (min-width: 768px) {
  .partner__logo--block:nth-child(11) {
    display: flex;
  }
}

.partner__logo--block:nth-child(12) {
  background: #000000;
  display: none;
}
@media (min-width: 768px) {
  .partner__logo--block:nth-child(12) {
    display: flex;
  }
}

.partner__logo {
  width: 217px;
}

footer {
  background-color: #F5F5FA;
  padding-top: 30px;
}

.footer__divider__line {
  width: 315px;
  height: 2px;
  color: #E6E6F0;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer__divider__line {
    width: 648px;
  }
}
@media (min-width: 1024px) {
  .footer__divider__line {
    width: 904px;
  }
}
@media (min-width: 1440px) {
  .footer__divider__line {
    width: 1320px;
  }
}
@media (min-width: 1920px) {
  .footer__divider__line {
    width: 1600px;
  }
}

.footer__information--block {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__information--block {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 60px;
  }
}
@media (min-width: 1920px) {
  .footer__information--block {
    padding: 0 160px;
  }
}

.footer__phone {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #46466E;
  white-space: nowrap;
}

.copyright {
  font-size: 16px;
  color: #B3B3BA;
  line-height: 20px;
}

@media (min-width: 768px) {
  .footer__address {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media (min-width: 768px) {
  .footer__contacts {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.address__divider {
  display: none;
}
@media (min-width: 768px) {
  .address__divider {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #B3B3BA;
    margin: 0 6px;
  }
}

/*# sourceMappingURL=style1.css.map */
