*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Montserrat, Verdana, Helvetica, sans-serif;
}

#main {
  border-radius: 0px 0px 12px 12px;
  margin-bottom: 50px;
  background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}
@media (min-width: 768px) {
  #main {
    margin-bottom: 80px;
  }
}
#main::after {
  content: "";
  display: block;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: calc(100% - 40px);
  height: 10px;
  background-color: #CACADB;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
}

#header-section {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 80vh;
  background-image: url(images/Symbol.svg);
  background-size: auto 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  #header-section {
    height: 100vh;
  }
}

header {
  display: grid;
  grid-template-areas: "contacts contacts contacts" "logo . menu";
  grid-template-columns: auto 1fr auto;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) {
  header {
    grid-template-areas: "contacts" "logo" "menu";
    grid-template-columns: unset;
  }
}
@media (min-width: 1024px) {
  header {
    grid-template-areas: "logo . contacts" "logo . menu";
    grid-template-columns: auto 1fr auto;
  }
}
header .contacts {
  grid-area: contacts;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(245, 245, 250, 0.2);
  padding: 10px 15px;
}
@media (min-width: 768px) {
  header .contacts {
    padding: 50px 60px 30px;
    background-color: transparent;
    justify-content: flex-start;
  }
}
@media (min-width: 1024px) {
  header .contacts {
    padding: 50px 60px 0;
  }
}
header .contacts .lang-container__btn {
  display: inline-flex;
  width: 33px;
  height: 25px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
}
header .contacts .lang-container__btn:hover, header .contacts .lang-container__btn:focus {
  cursor: pointer;
  background-color: #F0145A;
}
header .contacts .lang-container__btn_active {
  background-color: #F0145A;
  border-radius: 8px;
}
header .contacts .address {
  display: none;
}
@media (min-width: 768px) {
  header .contacts .address {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
  }
}
@media (min-width: 1024px) {
  header .contacts .address {
    color: #FFFFFF;
  }
}
header .contacts .phone {
  font-weight: 700;
  color: #FFFFFF;
}
header .contacts .social-icon {
  display: none;
}
@media (min-width: 768px) {
  header .contacts .social-icon {
    display: inline-block;
  }
}
header .logo-container {
  grid-area: logo;
  padding-left: 15px;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  header .logo-container {
    padding-left: 60px;
    align-items: self-start;
  }
}
@media (min-width: 1024px) {
  header .logo-container {
    padding-top: 50px;
  }
}
header .logo-link {
  display: inline-block;
}
header .logo-link .logo {
  width: 69px;
  height: 57px;
}
@media (min-width: 768px) {
  header .logo-link .logo {
    width: 160px;
    height: 60px;
  }
}
header .menu {
  grid-area: menu;
  display: inline-flex;
  padding-right: 15px;
}
header .menu .menu__icon {
  display: inline-flex;
  align-self: center;
}
@media (min-width: 768px) {
  header .menu .menu__icon {
    display: none;
  }
}
header .menu .menu-items {
  display: none;
}
@media (min-width: 768px) {
  header .menu .menu-items {
    display: flex;
  }
}
@media (min-width: 1024px) {
  header .menu .menu-items {
    padding: 1px 0 0 100px;
    margin: 0;
  }
}

.menu-item {
  list-style-type: none;
  margin: 15px;
  font-weight: 700;
}
.menu-item a {
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}
.menu-item a:hover {
  color: #F0145A;
}
.menu-item a::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #F0145A;
  position: absolute;
  bottom: -6px;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
  transform: scaleX(0);
}

.menu-item a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.burger-menu {
  position: absolute;
  right: 10px;
  font-size: 30px;
}
@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.burger {
  color: #FFFFFF;
}

.divider {
  display: none;
}
@media (min-width: 768px) {
  .divider {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #FFFFFF;
    margin: 0 6px;
  }
}

.symbol-bg {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 600px;
}
@media (min-width: 768px) {
  .symbol-bg {
    height: 710px;
  }
}
@media (min-width: 1024px) {
  .symbol-bg {
    height: 768px;
  }
}

.foreground-text {
  position: relative;
  color: #FFFFFF;
  font-size: 38px;
  width: 100%;
  text-align: center;
  line-height: 46.32px;
  text-align: Center;
}
@media (min-width: 768px) {
  .foreground-text {
    padding-top: 50px;
  }
}
@media (min-width: 1024px) {
  .foreground-text {
    padding-top: 180px;
  }
}
@media (min-width: 1920px) {
  .foreground-text {
    padding-top: 300px;
  }
}

.scroll__button--block {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scroll__button {
  display: inline-block;
}

.bottom {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  margin-left: 0.75em;
}
.bottom:hover {
  border: 2px solid #F0145A;
}

.bottom:after {
  content: "";
  display: inline-block;
  position: relative;
  left: 30%;
  top: 10%;
  margin-top: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid white;
  border-right: 0.5em solid white;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.bottom:hover::after {
  border-top: 0.5em solid #F0145A;
  border-right: 0.5em solid #F0145A;
}

.navigate {
  display: flex;
  flex-direction: column;
  line-height: 46.32px;
  overflow-x: hidden;
  white-space: nowrap;
}
@media (min-width: 1024px) {
  .navigate {
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }
}

.navigate__items {
  list-style-type: none;
  display: flex;
  font-size: 30px;
}
@media (min-width: 768px) {
  .navigate__items {
    font-size: 38px;
    padding-left: 60px;
  }
}
@media (min-width: 1024px) {
  .navigate__items {
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
  }
}

.navigate__item:first-child {
  background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigate__item {
  color: #b3b3ba;
  margin-right: 30px;
}
.navigate__item:hover {
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.navigate__item_hidden {
  display: none;
}
@media (min-width: 768px) {
  .navigate__item_hidden {
    display: list-item;
  }
}

.divider__line {
  width: 315px;
  background: rgba(255, 255, 255, 0.3);
  align-self: stretch;
}
@media (min-width: 768px) {
  .divider__line {
    width: 600px;
  }
}
@media (min-width: 1024px) {
  .divider__line {
    width: 1px;
    margin: 0;
  }
}

.navigate__text_block {
  display: flex;
  flex-direction: column;
  width: 315px;
  margin: 0 auto;
  white-space: pre-wrap;
  color: #FFFFFF;
  padding: 0 30px 0;
}
@media (min-width: 768px) {
  .navigate__text_block {
    width: 648px;
  }
}
@media (min-width: 1024px) {
  .navigate__text_block {
    width: 405px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .navigate__text_block {
    width: 581px;
  }
}
@media (min-width: 1920px) {
  .navigate__text_block {
    width: 861px;
  }
}

.navigate__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
}
@media (min-width: 768px) {
  .navigate__text {
    font-size: 30px;
    line-height: 37px;
  }
}

.navigate__text-2 {
  font-size: 19px;
  line-height: 30px;
}

.services {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
@media (min-width: 1024px) {
  .services {
    justify-content: flex-start;
  }
}

.cards__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 60px;
  padding-top: 30px;
  align-items: center;
}
@media (min-width: 768px) {
  .cards__block {
    flex-direction: row;
    padding-top: 60px;
    justify-content: center;
    align-items: unset;
  }
}

.link__block {
  font-size: 14px;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .link-and-text__block {
    padding-left: 60px;
  }
}
@media (min-width: 1920px) {
  .link-and-text__block {
    padding-left: 160px;
  }
}

.link__title {
  color: #24A3FF;
}
.link__title a {
  color: #24A3FF;
}
.link__title a:hover {
  color: #F0145A;
  text-decoration: none;
}

.arrow {
  border: solid #24A3FF;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.text__block {
  display: flex;
  font-weight: 700;
  font-size: 30px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
}
@media (min-width: 768px) {
  .text__block {
    font-size: 38px;
  }
}

.card__block {
  padding-top: 30px;
  width: 315px;
}
@media (min-width: 1024px) {
  .card__block {
    width: 294px;
  }
}
@media (min-width: 1440px) {
  .card__block {
    width: 400px;
  }
}
@media (min-width: 1920px) {
  .card__block {
    width: 500px;
  }
}

.card__title {
  color: #24A3FF;
  font-size: 26px;
}
.card__title a {
  color: #24A3FF;
  text-decoration: none;
}
.card__title a:hover {
  color: #F0145A;
}

.card__description {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 26px;
}

.employer__block {
  display: flex;
  justify-content: center;
  padding: 0 30px 0;
}

.photo__and--text {
  background-color: #F5F5FA;
  width: 315px;
}
@media (min-width: 768px) {
  .photo__and--text {
    width: 648px;
  }
}
@media (min-width: 1024px) {
  .photo__and--text {
    width: 904px;
    display: flex;
  }
}
@media (min-width: 1440px) {
  .photo__and--text {
    width: 1320px;
    gap: 30px;
  }
}
@media (min-width: 1920px) {
  .photo__and--text {
    width: 1600px;
  }
}

.employer__photo--block {
  width: 315px;
  background-image: url(images/employer.png);
  height: 500px;
  background-size: cover;
  background-position: 50%;
}
@media (min-width: 768px) {
  .employer__photo--block {
    width: 648px;
  }
}
@media (min-width: 1024px) {
  .employer__photo--block {
    width: 400px;
    height: 550px;
  }
}
@media (min-width: 1440px) {
  .employer__photo--block {
    height: 344px;
  }
}
@media (min-width: 1920px) {
  .employer__photo--block {
    height: 298px;
  }
}

.employer__image {
  width: 315px;
  border-radius: 12px 12px 0px 0px;
}

.photo__and--text .text__block {
  padding: 0 30px 0;
  word-break: break-word;
}
@media (min-width: 768px) {
  .photo__and--text .text__block {
    font-size: 38px;
  }
}
@media (min-width: 1440px) {
  .photo__and--text .text__block {
    font-size: 36px;
    word-break: break-all;
  }
}

.photo__and--text .link__block {
  padding: 0 0 0 30px;
}

.photo__and--text .link-and-text__block {
  padding-top: 30px;
  padding-left: 0;
}
@media (min-width: 1024px) {
  .photo__and--text .link-and-text__block {
    width: 504px;
  }
}
@media (min-width: 1440px) {
  .photo__and--text .link-and-text__block {
    width: 860px;
  }
}
@media (min-width: 1920px) {
  .photo__and--text .link-and-text__block {
    width: 1140px;
  }
}

.name__employer {
  color: #B3B3BA;
  margin-top: 30px;
  padding: 0 30px 0;
  width: 255px;
}
@media (min-width: 768px) {
  .name__employer {
    width: 588px;
  }
}
@media (min-width: 1024px) {
  .name__employer {
    width: 444px;
    margin: 0;
  }
}

.name {
  font-size: 16px;
  font-weight: 700;
}

.specification {
  font-size: 14px;
  padding-bottom: 30px;
}
@media (min-width: 1024px) {
  .specification {
    padding-bottom: 0;
  }
}

.slider__block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
}

.slider__item {
  width: 16px;
  height: 16px;
  background-color: #24A3FF;
  opacity: 0.2;
  border-radius: 50%;
}
.slider__item:hover {
  opacity: 1;
}

.slider__item:first-child {
  background-color: #24A3FF;
  opacity: 1;
}

.partners__block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  flex-direction: column;
  gap: 30px;
  overflow-x: hidden;
}
@media (min-width: 1920px) {
  .partners__block {
    padding-bottom: 60px;
  }
}

.partners__block--text {
  font-size: 14px;
  line-height: 17px;
  color: #323264;
  font-weight: 700;
  letter-spacing: 1px;
}

.partner__logo--block a {
  display: inherit;
}

.partners__logos {
  width: 375px;
}
@media (min-width: 768px) {
  .partners__logos {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .partners__logos {
    width: 1024px;
  }
}
@media (min-width: 1440px) {
  .partners__logos {
    width: 1440px;
  }
}
@media (min-width: 1920px) {
  .partners__logos {
    width: 1720px;
  }
}

.partner__logo--block {
  display: flex;
  justify-content: center;
  background: #1C4280;
  width: 375px;
  height: 120px;
  text-align: center;
}
@media (min-width: 768px) {
  .partner__logo--block {
    width: 256px;
  }
}
@media (min-width: 1440px) {
  .partner__logo--block {
    width: 360px;
  }
}
@media (min-width: 1920px) {
  .partner__logo--block {
    width: 430px;
  }
}

.partner__logo--block:nth-child(2) {
  background: #143646;
}

.partner__logo--block:nth-child(3) {
  background: #F48B30;
}

.partner__logo--block:nth-child(4) {
  background: #9E4DC3;
}

.partner__logo--block:nth-child(5) {
  background: #FD9339;
}

.partner__logo--block:nth-child(6) {
  background: #E2E2E4;
}

.partner__logo--block:nth-child(7) {
  background: #C71C36;
  display: none;
}
@media (min-width: 768px) {
  .partner__logo--block:nth-child(7) {
    display: flex;
  }
}

.partner__logo--block:nth-child(8) {
  background: #DCF3F9;
  display: none;
}
@media (min-width: 768px) {
  .partner__logo--block:nth-child(8) {
    display: flex;
  }
}

.partner__logo--block:nth-child(9) {
  background: #EAEAEA;
  display: none;
}
@media (min-width: 768px) {
  .partner__logo--block:nth-child(9) {
    display: flex;
  }
}

.partner__logo--block:nth-child(10) {
  background: #282240;
  display: none;
}
@media (min-width: 768px) {
  .partner__logo--block:nth-child(10) {
    display: flex;
  }
}

.partner__logo--block:nth-child(11) {
  background: #1D4568;
  display: none;
}
@media (min-width: 768px) {
  .partner__logo--block:nth-child(11) {
    display: flex;
  }
}

.partner__logo--block:nth-child(12) {
  background: #000000;
  display: none;
}
@media (min-width: 768px) {
  .partner__logo--block:nth-child(12) {
    display: flex;
  }
}

.partner__logo {
  width: 217px;
}

.publications {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  gap: 30px;
  padding-bottom: 30px;
  background-color: #F5F5FA;
}

.publications .link__block {
  margin-top: 30px;
}

.publications__block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
@media (min-width: 768px) {
  .publications__block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: unset;
  }
}

.publication__photo--block {
  background: url(images/Equity.svg);
  width: 315px;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
  background-size: cover;
  background-position-y: 50%;
}
@media (min-width: 1024px) {
  .publication__photo--block {
    width: 281px;
  }
}
@media (min-width: 1440px) {
  .publication__photo--block {
    width: 420px;
  }
}
@media (min-width: 1920px) {
  .publication__photo--block {
    width: 514px;
  }
}

.publication__photo--block-2 {
  background: url(images/GDPR.svg);
  width: 315px;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
  background-size: cover;
  background-position-y: 50%;
}
@media (min-width: 1024px) {
  .publication__photo--block-2 {
    width: 281px;
  }
}
@media (min-width: 1440px) {
  .publication__photo--block-2 {
    width: 420px;
  }
}
@media (min-width: 1920px) {
  .publication__photo--block-2 {
    width: 514px;
  }
}

.publication__photo--block-3 {
  background: url(images/millenial.svg);
  width: 315px;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
  background-size: cover;
  background-position-y: 50%;
}
@media (min-width: 768px) {
  .publication__photo--block-3 {
    width: 648px;
  }
}
@media (min-width: 1024px) {
  .publication__photo--block-3 {
    width: 281px;
  }
}
@media (min-width: 1440px) {
  .publication__photo--block-3 {
    width: 420px;
  }
}
@media (min-width: 1920px) {
  .publication__photo--block-3 {
    width: 514px;
  }
}

.image__and--text {
  width: 315px;
}

.image__and--text .link-and-text__block {
  padding: 15px 30px 0;
}

.publication__divider {
  width: 255px;
  height: 4px;
  background: #E6E6F0;
}
@media (min-width: 1024px) {
  .publication__divider {
    width: 222px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .publication__divider {
    width: 360px;
  }
}
@media (min-width: 1920px) {
  .publication__divider {
    width: 453px;
  }
}

.date__text {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 15px;
  color: #B3B3BA;
}

.description__block {
  width: 255px;
  font-size: 14px;
  line-height: 22px;
}
@media (min-width: 1440px) {
  .description__block {
    width: 360px;
  }
}
@media (min-width: 1920px) {
  .description__block {
    width: 453px;
  }
}

@media (min-width: 768px) {
  .description__block-3 {
    width: 588px;
  }
}
@media (min-width: 1024px) {
  .description__block-3 {
    width: 222px;
  }
}
@media (min-width: 1440px) {
  .description__block-3 {
    width: 360px;
  }
}
@media (min-width: 1920px) {
  .description__block-3 {
    width: 453px;
  }
}

.publication__block {
  background-color: #FFFFFF;
  border-radius: 8px;
}
@media (min-width: 1024px) {
  .publication__block {
    width: 281px;
  }
}
@media (min-width: 1440px) {
  .publication__block {
    width: 420px;
  }
}
@media (min-width: 1920px) {
  .publication__block {
    width: 514px;
  }
}

@media (min-width: 768px) {
  .publication__block:last-child {
    width: 648px;
    height: 388px;
  }
}
@media (min-width: 1024px) {
  .publication__block:last-child {
    width: 281px;
    height: unset;
  }
}
@media (min-width: 1440px) {
  .publication__block:last-child {
    width: 420px;
  }
}
@media (min-width: 1920px) {
  .publication__block:last-child {
    width: 514px;
  }
}

.publication__link__block {
  font-size: 16px;
  display: flex;
  align-items: center;
}
@media (min-width: 1440px) {
  .publication__link__block {
    width: 360px;
  }
}
@media (min-width: 1920px) {
  .publication__link__block {
    width: 453px;
  }
}

.footer__divider__line {
  width: 315px;
  height: 2px;
  color: #E6E6F0;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer__divider__line {
    width: 648px;
  }
}
@media (min-width: 1024px) {
  .footer__divider__line {
    width: 904px;
  }
}
@media (min-width: 1440px) {
  .footer__divider__line {
    width: 1320px;
  }
}
@media (min-width: 1920px) {
  .footer__divider__line {
    width: 1600px;
  }
}

.footer__information--block {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .footer__information--block {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 60px;
  }
}

.footer__phone {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #46466E;
  white-space: nowrap;
}

.copyright {
  font-size: 16px;
  color: #B3B3BA;
  line-height: 20px;
}

@media (min-width: 768px) {
  .footer__address {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@media (min-width: 768px) {
  .footer__contacts {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.address__divider {
  display: none;
}
@media (min-width: 768px) {
  .address__divider {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #B3B3BA;
    margin: 0 6px;
  }
}

footer {
  background-color: #F5F5FA;
}

/*# sourceMappingURL=style.css.map */
