$main-gradient-from :      #323264;
$main-gradient-to :        #643E72;

$header-background :       rgba(245, 245, 250, 0.2);

$breakpoint-sm :            768px;
$breakpoint-md :            1024px;
$breakpoint-lg :            1440px;
$breakpoint-xl :            1920px;

$color-lang :               #FFFFFF;
$bg-color-lang-active :     #F0145A;

$address-color-sm :         #B3B3BA;
$address-color :            #FFFFFF;

$phone-color :              #FFFFFF;

$logo-text :                #FFFFFF; 

$burger-color :             #FFFFFF; 

$border-hover-color :       #F0145A;  

$menu-color :               #FFFFFF;
$menu__border-bottom :       #F0145A; 

$link-color :               #FFFFFF;

$color-text :               #FFFFFF;

$scroll-hover :             #F0145A;

$gradient-text :            #ef8080; 
$gradient-text-2 :          #f0145a;   

$links-color :              #24A3FF;
$links-color-hover :        #F0145A;

$main-after :               #CACADB;
$main-before :              #E7E7F2;  

$bg-color-employer :        #F5F5FA;

$name-color :               #B3B3BA;

$slider-color :             #24A3FF; 

$partners-color :           #323264;

$partner-logo-bg-1 :        #1C4280;
$partner-logo-bg-2 :        #143646;
$partner-logo-bg-3 :        #F48B30;  
$partner-logo-bg-4 :        #9E4DC3;
$partner-logo-bg-5 :        #FD9339;
$partner-logo-bg-6 :        #E2E2E4;
$partner-logo-bg-7 :        #C71C36;
$partner-logo-bg-8 :        #DCF3F9;
$partner-logo-bg-9 :        #EAEAEA;
$partner-logo-bg-10 :       #282240;
$partner-logo-bg-11 :       #1D4568;
$partner-logo-bg-12 :       #000000;

$publications-bg-color :    #F5F5FA;
$publications__block-bg-color :   #FFFFFF;
$publication__divider-color :     #E6E6F0;
$date-color :                     #B3B3BA;
$publication-color :              #FFFFFF;

$footer-bg :                      #F5F5FA;
$footer__divider-color :          #E6E6F0;
$footer__phone-color :            #46466E;
$copyright-color :                #B3B3BA;
$address-divider :                #B3B3BA;